/* use Wolt's color scheme */
.header-container {
  background-color: #00cc99; /* Wolt's main color */
  border-radius: 0.5rem;
}

/* use Wolt's typography */
h1 {
  font-family: "Open Sans", sans-serif; /* Wolt uses Open Sans as its primary font */
  color: white; /* text color */
  text-align: center; /* center the text */
  padding: 1em; /* add some padding */
}

/* style the navigation items */
.nav-items {
  display: flex; /* display elements horizontally */
  justify-content: center; /* center elements horizontally */
  padding: 1em; /* add some padding */
}

.nav-links {
  list-style: none;
}

/* style the navigation links */
li {
  list-style-type: none; /* remove the default bullet points */
  margin: 0 1em; /* add some margin */
  color: white; /* text color */
  font-size: 1.2em; /* set the font size */
  font-weight: bold; /* make the text bold */
  cursor: pointer; /* change cursor on hover */
}

/* style the active navigation link */
.active {
  color: #4a4a4a; /* dark gray */
}

.nav-link {
  text-decoration: none;
  vertical-align: middle;
}

.nav-item {
  display: flex;
  justify-content: center;
}
