.card {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.card-container {
  background-color: white; /* white background color */
  border-radius: 0.5em; /* round the corners */
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1); /* add a subtle shadow */
  margin: 1em; /* add some margin */
  /* min-height: 350px; */
}

/* use Wolt's typography */
.card-info {
  color: #4a4a4a;
  padding: 1em;
  font-family: Open Sans, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

/* style the card image */
.card-img {
  width: 100%; /* make the image take up the full width */
  border-radius: 0.5em 0.5em 0 0; /* round the top corners */
  margin-top: 0.5rem;
}

/* style the card title */
.card-title {
  font-size: 1.2em; /* set the font size */
  font-weight: bold; /* make the text bold */
  margin: 0.5rem; /* remove the default margin */
}

/* style the card cuisines */
.card-cuisines {
  font-size: 1em; /* set the font size */
  margin: 0.5rem; /* remove the default margin */
}

/* style the card distance */
.card-distance {
  font-size: 1em; /* set the font size */
  margin: 0.5rem; /* remove the default margin */
  color: #00cc99; /* Wolt's main color */