.menu-container {
  background-color: white; /* white background color */
  padding: 1em; /* add some padding */
}

/* use Wolt's typography */
.menu-header {
  font-family: "Open Sans", sans-serif; /* Wolt uses Open Sans as its primary font */
  color: #4a4a4a; /* dark gray */
}

/* style the menu header */
.menu-header h1,
h2,
h3 {
  margin: 0; /* remove the default margin */
}

/* style the menu items */
.menu-items {
  font-size: 1em; /* set the font size */
  margin: 0; /* remove the default margin */
  color: #4a4a4a; /* dark gray */
}

/* style the menu items */
.menu-items p {
  margin: 0; /* remove the default margin */
  font-weight: bold; /* make the text bold */
}
